@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}
ActionBar {
  background-color: black;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}



/************************************************************************************************************************

JS: Page loaded
JS: BOOTSTRAPPING...
JS: Setting DOM
JS: Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.
JS: ANGULAR BOOTSTRAP DONE.
JS: Style: Error setting property: borderRadius on TextField(14): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(14): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(14): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(16): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(16): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(16): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(14): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(14): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(16): TypeError: Cannot read property 'isEmpty' of undefined
JS: Style: Error setting property: borderRadius on TextField(16): TypeError: Cannot read property 'isEmpty' of undefined


*/

TextField { 
    border-width: 0.5;
    border-color: gray;
    border-radius: 4;
    padding: 8;
    font-size: 14;
    height: 40;
    border-radius: 4;
}
